* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #151a21;
}
.loading-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-screen-container p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main-content-container .user-input-container {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 8px;
}
.main-content-container .tweet-analysis-container {
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 8px;
}
.main-content-container .tweet-analysis-container .tweet-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.main-content-container .tweet-analysis-container .tweet-container .tweet-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  overflow: none;
}
.main-content-container .tweet-analysis-container .tweet-container .tweet-list-container ul {
  list-style: none;
  overflow: auto;
  padding: 0 10px 0 15px;
}
.main-content-container .tweet-analysis-container .tweet-container .tweet-list-container ul li {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}
.main-content-container .tweet-analysis-container .tweet-sentiment-container {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.main-content-container .tweet-analysis-container .tweet-sentiment-container p {
  color: white;
  font-size: 25px;
  margin: 0;
  padding: 10px;
}
.main-content-container .tweet-analysis-container .tweet-sentiment-container .NEGATIVE span {
  color: firebrick;
}
.main-content-container .tweet-analysis-container .tweet-sentiment-container .POSITIVE span {
  color: lime;
}
.main-content-container .tweet-analysis-container .tweet-sentiment-container .NEUTRAL span {
  color: #dada00;
}
.main-content-container .tweet-analysis-container .button-container {
  display: flex;
  flex: 0.33;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  height: 50vh;
  width: 100%;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #151a21;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button:active {
  color: #000;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button:active:after {
  background: transparent;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button:hover:before {
  opacity: 1;
}
.main-content-container .tweet-analysis-container .button-container #tweet-analysis-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
